@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face {
        font-family: 'Dela Gothic One';
        src: url('Resources/fonts/DelaGothicOne.ttf');
    }

    @font-face {
        font-family: 'Poppins';
        src: url('Resources/fonts/Poppins-Regular.ttf');
        font-weight: 400;
    }

    @font-face {
        font-family: 'Poppins';
        src: url('Resources/fonts/Poppins-Bold.ttf');
        font-weight: 700;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('Resources/fonts/Montserrat-Regular.ttf');
        font-weight: 400;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('Resources/fonts/Montserrat-Bold.ttf');
        font-weight: 700;
    }

    input:focus-within{
        outline: none;
    }

    button:focus-visible{
        outline: none;
    }

    textarea:focus-visible{
        outline: none;
    }
}

@layer utilities{
    .feature_card{
        @apply p-1 xs:p-3 md:p-5 md:max-w-sm;
    }

    .feature_card img{
        @apply w-10 md:w-14 h-auto mx-auto md:m-0;
    }

    .feature_card h3{
        @apply font-bold my-2 text-base text-center md:text-left sm:text-lg md:text-xl;
    }

    .feature_card p{
        @apply text-xs text-center sm:text-sm md:text-base md:text-left;
    }

    .price_card{
        @apply p-2 sm:p-4 flex flex-col items-center justify-center md:rounded;
    }

    .price_card p{
        @apply text-xs xs:text-sm md:text-base sm:my-2 md:my-4 lg:text-lg;
    }

    .blue_green_grad{
        @apply from-cu-blue to-cu-green bg-gradient-to-br;
    }

    .round_btn{
        @apply py-1 px-6 rounded-full mt-3 text-xs xs:text-sm sm:text-base md:text-lg;
    }
}

/*
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');
*/