@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face {
        font-family: 'Dela Gothic One';
        src: url('Resources/fonts/DelaGothicOne.ttf');
    }

    @font-face {
        font-family: 'Poppins';
        src: url('Resources/fonts/Poppins-Regular.ttf');
        font-weight: 400;
    }

    @font-face {
        font-family: 'Poppins';
        src: url('Resources/fonts/Poppins-Bold.ttf');
        font-weight: 700;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('Resources/fonts/Montserrat-Regular.ttf');
        font-weight: 400;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('Resources/fonts/Montserrat-Bold.ttf');
        font-weight: 700;
    }
}


/*
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');
*/